*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: hidden;
    font-family: 'Give You Glory', cursive;

}

.container {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.block {
    height: 80%;
    width: 90%;
    border: 2px solid red;
}


.btn_collapse{
    background-color: white;
    border: 2px solid red;
    color: red;
    font-size: 20px;
    padding: 8px;
    margin: 20px;
    cursor: pointer;
}

